.sig {
    position: absolute;
    left: 1.5rem;
    bottom: 1.5rem;
    z-index: 999;
    text-align: left;

    a {
        color: inherit;
        text-decoration: none;
    }

    a:visited {
        color: inherit;
    }

    a:hover {
        text-decoration: underline;
    }    
}

.b {
    color: rgb(139, 140, 150);
}

.cs {
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
    background: #fff;
    padding: 0.5rem 1.16rem;
    border-radius: 2rem;
    user-select: none;
    z-index: 999;
}