.sig {
    font-size: 90%;
    padding: 1.5rem;

    a {
        color: inherit;
        text-decoration: none;
    }

    a:visited {
        color: inherit;
    }

    a:hover {
        text-decoration: underline;
    }    
}

.b {
    color: rgb(139, 140, 150);
}

.cs {
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
    background: #fff;
    padding: .5rem;
    border-radius: 1rem;
    user-select: none;
}