.announcement {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: .16rem;
    z-index: 999;
    background: #000;
    color: #fff;
    position: relative;

    a {
        color: #fff;
    }
}

.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    z-index: 999;
    position: relative;

    h1 {
        font-size: 1.6rem;
        letter-spacing: -1px;
        font-weight: 800;
    }

    a {
        color: #000;
        text-decoration: none;
        font-weight: 500;
        display: flex;
    }    

    a:hover {
        text-decoration: underline;
    }

    ul {
        display: flex;
        gap: 1.5rem;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
        li {
            align-items: center;
            list-style: none;
        }
    }
}

.logo:hover {
    text-decoration: none !important;
}