.overlay {
    background: rgba(0,0,0, .3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    overflow-y: auto;
    backdrop-filter: blur(4px);
}

.dialogContent {
    min-width: 300px;
    background: white;
    padding: 1.16rem;
    border-radius: 0.5rem;
}

.propose {
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    padding: 0.58rem;
    background: #000;
    color: #fff;
    transition: transform 120ms cubic-bezier(0.075, 0.82, 0.165, 1), opacity 120ms ease-in-out;
    outline: none;
    border: 0;
    min-width: 6rem;
    position: relative;
}

.execute {
    background: #00ba7c;
}

.loader {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    opacity: 0;
}

.visible {
    opacity: 1;
}

.hidden {
    opacity: 0;
}

.propose:hover {
    cursor: pointer;
    transform: scale(1.05);

    &:disabled {
            transform: none;
        }
}

.propose:disabled {
    opacity: .5;

    &:hover {
        cursor: not-allowed !important;
    }
}

.tx {
    h3 {
        font-size: 1.4454rem;
        line-height: 1.4454rem;
        text-align: center;
    }
}

.tip {
    max-width: 300px;
    display: block;
    opacity: .8;
    margin: 1.16rem 0;
}

.sb {
    font-weight: 500;
}

.actionWrapper {
    display: flex;
    align-items: center;
    gap: 0.58rem;
}

.errorMsg {
    svg {
        position: relative;
        top: 3px;
        margin-right: 0.29rem;
    }
}

.errorMsgVote {
    display: block;
    align-self:auto;

    svg {
        position: relative;
        top: 3px;
        margin-right: 0.29rem;
    }
}

.modalAction {
    border-radius: 0.5rem;
    padding: 0.87rem;
    background: #f3f5f7;
    width: 100%;
    outline: none;
    border: 0;
    margin-top: 1.64rem;
    font-weight: 500;
}

.txDesc {
    font-weight: 500;
    margin-bottom: 1.16rem !important;
    display: flex !important;
    align-items: center;
    border-bottom: 1px solid #f0f3f5;
}

.meta {
    margin-top: 1.16rem;    

    label {
        display: block;
        margin-bottom: 5px;
    }

    input {
        padding: 0.58rem;
        border-radius: 0.5rem;
        background: #f3f5f7;
        outline: 0;
        border: 0;
        width: 100%;
        margin-bottom: 0.58rem;
    }

    input:last-child {
        margin-bottom: 0;
    }

    input:hover {
        cursor: not-allowed;
    }

    input::placeholder {
        color: #000 !important;
        opacity: .5;
    }
}

.details {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    ul {
        margin: 0;
        display: flex;
        align-items: center;
        gap: 0.29rem;

        li {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 0.58rem;
            margin-left: -0.55rem;
            padding: 0 0.29rem;
            position: relative;
        }

        li:hover {
            cursor: pointer;
        }
    }
}

.for:hover {
    color: #00ba7c;

    &:disabled:hover {
        color: #787979;            
    }
}

.for.active {
    color: #00ba7c;

    &:disabled:hover {
        color: #00ba7c;
    }
}

.against:hover {
    color: red;

    &:disabled:hover {
        color: #787979;
    }
}

.against.active {
    color: red;

    &:disabled:hover {
        color: red;
    }
}

.abstain {
    color: #787979;

    &:disabled:hover {
        color: #787979;
    }
}

.abstain:hover {
    color: #000;

    &:disabled:hover {
        color: #787979;
    }
}

.actionBtn {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.58rem;
    right: 0.58rem;
    margin: -0.58rem 0;
    transition: color 120ms ease-in-out, opacity 120ms ease-in-out, background 120ms ease-in-out;
    outline: none;
    border: 0;
    min-width: 3rem;
    position: relative;
    border-radius: 3rem;

    span {
        display: flex;
        align-items: center;

        svg {
            margin-right: 0.59rem;
        }
    }
    
    &:hover {
        cursor: pointer;
    }

    &:disabled:hover {
        background: transparent;
        cursor: not-allowed;        
    }
}

.loading {
    background: #fff;
    cursor: pointer;

    span {
        display: inline-block;
        height: 20px;

        div {
            top: 2px;
        }
    }
}

.confirming {}

.confirming:hover {
    cursor: wait;
}

// pending indicator
// modified from https: //codepen.io/scottloway/pen/zqoLyQ
$brand-success: #5cb85c;
$loader-size: 15px;
$check-height: $loader-size/2.15;
$check-width: $check-height/2;
$check-left: (
    $loader-size/6.2
);
$check-thickness: 1px;
$check-color: $brand-success;

.circleLoader {
    margin-left: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-left-color: $check-color;
    animation: loader-spin 1.2s infinite linear;
    position: relative;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    width: $loader-size;
    height: $loader-size;
}

.loadComplete {
    -webkit-animation: none;
    animation: none;
    border-color: $check-color;
    transition: border 500ms ease-out;
}

.checkmark {
    display: none;    

    &:after {
        opacity: 1;
        height: $check-height;
        width: $check-width;
        transform-origin: left top;
        border-right: $check-thickness solid $check-color;
        border-top: $check-thickness solid $check-color;
        content: '';
        left: $check-left;
        top: $check-height;
        position: absolute;
    }
}

.draw:after {
    animation-duration: 800ms;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg);
}

@keyframes loader-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }

    20% {
        height: 0;
        width: $check-width;
        opacity: 1;
    }

    40% {
        height: $check-height;
        width: $check-width;
        opacity: 1;
    }

    100% {
        height: $check-height;
        width: $check-width;
        opacity: 1;
    }
}