.iw {
    text-decoration: none;
    color: #000;
}

.topBar {
    display: flex;
    justify-content: space-between;
}

.item {
    background: #fff;
    border: 1px solid #E3E8EE;
    transition: background 120ms cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 0.5rem;
    padding: 1.16rem 1.32rem;
    margin-bottom: 0.58rem;

    &>button {
        display: none;
    }

    h3 {
        font-size: 1.2rem;
        line-height: 1.4454rem;
        margin: 0.87rem 0 1.16rem 0;
        font-weight: 500;
    }

    .proposer {
        display: flex;
        align-items: center;
        gap: 0.58rem;
    }

    .proposer img {
        width: 24px;
        height: auto;
        border-radius: 1rem;
    }
}

.executed {
}

.executed:hover {
}

.edao {
    font-weight: normal;
}

.item:hover {
    background: #fdfdfd;
    cursor: pointer;
}

.propid {
    margin-right: 0.58rem;
}

.time {
    color: #697386;
}

$for: #00ba7c;
$against: red;
$abstain: #787979;

.support {
    padding: 0.29rem 0.58rem;
    border-radius: 0.5rem;

    &.for{
        background: $for;
        color: #fff;
    }

    &.against{
        background: $against;
        color: #fff;
    }

    &.abstain{
        background: $abstain;
        color: #fff;
    }
}