.mast {
    max-width: 600px;
    margin: 0 auto;
}

.mast h1 {
    font-family: "Londrina Solid";
    font-size: 2.69rem;
}

.daos {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 1.16rem;
}

.cs {
    padding: 0 1.32rem;
    display: block;
    margin-bottom: 0.29rem;
}

.soon {
    opacity: 0.8;
}
