.w {
    max-width: 60ch;  
    font-weight: 500;

    h2 {
        font-size: 5rem;
        font-weight: 900;
        min-width: 0;
        line-height: 100%;
        margin: 1.5rem 0;
        max-width: 18ch;
        margin-top: 0;
    }    

    .subtitle {
        max-width: 40ch;
        font-size: 1.65rem;
        margin-bottom: 1.5rem;
    }
    
    @media (max-width: 767px) {
        h2 {
            font-size: 3.75rem !important;
        }

        .subtitle {
            font-size: 1.23rem;
        }
    }
}

.action {
    font-weight: bold;
    display: flex;
    gap: 0.5rem;
    color: #000;
    align-items: center;
    justify-content: center;
    padding: .85rem 1.5rem .95rem;
    font-size: 1.65rem;
    max-width: 20ch;
    outline: none;
    border: none;
    background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
    color: #fff;
    border-radius: 0.5rem;
    line-height: 1.5;
    text-decoration: none;
    transition: box-shadow 120ms ease, transform 120ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media (max-width: 767px) {    
    .action {
        font-size: 1.23rem;
    }
}

.action:hover {
    box-shadow: 5px 15px 30px -10px rgba(0, 0, 0, .3);
    transform: scale(1.05);
}